<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record model="ir.actions.act_window" id="action_coa">
        <field name="name">COA</field>
        <field name="res_model">qaqc.coa</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    
    <menuitem id="qaqc_top" name="QAQC" sequence="10" />

    <menuitem id="qaqc_sub" name="QAQC" sequence="10" 
			parent="qaqc_top"/>
    
    <menuitem name="COA"
              id="qaqc_coa"
              parent="qaqc_sub" 
              action="action_coa"
              sequence= "2"
              />

</odoo>
