
.pos .marketingagentlist-screen .marketingagent-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .marketingagentlist-screen .marketingagent-list th,
.pos .marketingagentlist-screen .marketingagent-list td {
    padding: 0px 8px;
}
.pos .marketingagentlist-screen .marketingagent-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .marketingagentlist-screen .marketingagent-list thead > tr,
.pos .marketingagentlist-screen .marketingagent-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .marketingagentlist-screen .marketingagent-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .marketingagentlist-screen .marketingagent-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .marketingagentlist-screen .marketingagent-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .marketingagentlist-screen .marketingagent-details{
    padding: 16px;
    border-bottom: solid 5px rgb(110,200,155);
}
.pos .marketingagentlist-screen .marketingagent-picture{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}
.pos .marketingagentlist-screen .marketingagent-picture > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}
.pos .marketingagentlist-screen .marketingagent-details-box{
    position: relative;
    font-size: 16px;
}
.pos .marketingagentlist-screen .marketingagent-details-left{
    width: 50%;
    float: left;
}
.pos .marketingagentlist-screen .marketingagent-details-right{
    width: 50%;
    float: right;
}
.pos .marketingagentlist-screen .marketingagent-detail{
    line-height: 24px;
}
.pos .marketingagentlist-screen .marketingagent-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .marketingagentlist-screen .marketingagent-details input,
.pos .marketingagentlist-screen .marketingagent-details select
{
    padding: 4px;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: white;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .marketingagentlist-screen .marketingagent-details input.marketingagent-name {
    font-size: 24px;
    line-height: 24px;
    margin: 18px 6px;
    width: 340px;
}
.pos .marketingagentlist-screen .marketingagent-detail > .empty{
    opacity: 0.3;
}
.pos .marketingagentlist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .marketingagentlist-screen .searchbox input{
    width: 120px;
}